# Stripe Configuration
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxx
EXPO_PUBLIC_STRIPE_MERCHANT_IDENTIFIER=merchant.com.your-app
EXPO_PUBLIC_STRIPE_URL_SCHEME=authorapp

# API Configuration
EXPO_PUBLIC_API_BASE_URL=https://api-dev.stanleypaden.com/api/v1
