# Required - API
EXPO_PUBLIC_API_BASE_URL=https://api-dev.stanleypaden.com/api/v1

# Required - Stripe
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxx
EXPO_PUBLIC_STRIPE_MERCHANT_IDENTIFIER=merchant.com.your-app

# Optional - Stripe (defaults to 'authorapp')
EXPO_PUBLIC_STRIPE_URL_SCHEME=authorapp
